<h1>This is my about page</h1>

<div style="display: inline-block">
  <%= link_to 'Articles listing', articles_path %>
</div>

<div style="display: inline-block"><%= link_to 'Home', root_path %></div>
