<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>

<h1>Welcome to my home page</h1>

<div style="display: inline-block">
  <%= link_to 'Articles listing', articles_path %> |
</div>

<div style="display: inline-block"><%= link_to ' About ', about_path %></div>
